*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: "Roboto Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --app: #dfe2d1;
    --frame: #e5e8df;
    --dark: #30312a;
    --circles: #cce867;
    --button-active: #dced99;
    --button-inactive: #e5e8df;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--app);
    color: var(--dark);
}

.center-children {
    display: flex;
    place-content: center;
    place-items: center;
}

* {
    font-size: 16px;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: safe;
    gap: 16px;
    height: 517px;
    width: 288px;
    padding: 8px 16px;
    background-color: var(--frame);
    border-radius: 1px;
}

#canvas {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    background: var(--dark);
}

.circle {
    fill: none;
    stroke: yellow;
    stroke-width: 1;
}
.selected {
    fill: yellow;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

button {
    font-family: inherit;
    font-weight: 500;
    padding: 10px 12px;
    border: 2px solid var(--dark);
    border-radius: 2px;
    background-color: var(--button-active);
}

button:disabled {
    background-color: var(--button-inactive) !important;
}
