*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: "Roboto Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --app: #dfe2d1;
    --frame: #e2dade;
    --canvas: #f0ebed;
    --dark: #0d197a;
    --hue: #0f152d;
    --circles: var(--hue);
    --button-active: var(--canvas);
    --button-inactive: #e5e8df;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--app);
    color: var(--dark);
}

.center-children {
    display: flex;
    place-content: center;
    place-items: center;
}

* {
    font-size: 16px;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: safe;
    height: 517px;
    width: 288px;
    padding: 0px;
    background-color: var(--frame);
    border-radius: 4px;
    border: 4px solid var(--dark);
    border-style: solid;
}

#canvas {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    background: var(--canvas);
}

.circle {
    fill: none;

    stroke: #4890fd;
    stroke-width: 2px;
    mix-blend-mode: hard-light;
    isolation: isolate;
}
.selected {
    fill: var(--circles);
}

#buttons {
    display: flex;
    justify-content: space-between;
    /* padding: 8px 24px; */
    /* flex:1 0 0; */
    gap: 0px;
    border-top: 4px solid var(--dark);
}

button {
    font-family: monospace;
    letter-spacing: 0.1rem;
    font-size: 22px;
    font-weight: 600;

    /* outline: 1px solid color-mix(in srgb, var(--hue), #fff 90%); */
    /* outline-style: inset; */
    /* outline-offset: -6px; */
    /* padding: 10px 12px; */
    border: 2px solid var(--canvas);
    border-bottom-color: transparent;
    border-right-color: transparent;
    /* border-top-color: #5e64de;
    border-left-color: #434aca;
    border-right-color: #351e9a; */
    /* border-radius: 4px; */
    color: var(--button-active);
    background-color: #053f97;
    width: 100%;
    height: 64px;
}
button:first-of-type {
    border-right-width: 2px;
    border-left-color: transparent;
}
button:last-of-type {
    border-left-width: 2px;
}

button:disabled {
    background-color: var(--button-inactive) !important;
    border-width: 1px;
}

button:active {
    outline: 4px solid var(--dark);
    outline-offset: -4px;
    /* outline-width: 2px;
    outline-style: groove;
    outline-color: color-mix(in srgb, #000 62%, var(--hue));
    outline-offset: -2px; */
    /* outline-color: var(--canvas); */
    background-color: #3070df;

    border-color: transparent;
    color: #fff;
    /* border-bottom-color: transparent;
    border-right-color: transparent; */
}
